
  .splitLeft {
      height: 100%;
      width: 60%;
      left: 0;
      position: fixed;
      top: 0;
      background-color: violet;
  }

  .splitRight {
      height: 100%;
      width: 40%;
      right: 0;
      position: fixed;
      top: 0;
  }
